@font-face {
  font-family: inter;
  src: url(/fonts/inter-variablefont_slntwght-webfont.woff2);
}

@font-face {
  font-family: interb;
  src: url(/fonts/Inter-Bold.woff2);
}

body {
  font-family: inter;
  background-color: #fbf5dd;
  color: #7f503d;
  margin: 0;
  padding: 0;
}

/* Separator styling*/
#main-content {
  margin-bottom: -2px;
}

#separator {
  position: absolute;
  left: 80px;
  top: 0;
  height: 100%;
  width: 2px;
  background: #cd3333;
  pointer-events: none;
}

@media screen and (max-width: 1000px) {
  #separator {
    left: 40px;
  }
}

@media screen and (max-width: 700px) {
  #separator {
    display: none;
  }
}

/* Header styling */
/* Line menu */
@media screen and (min-width: 850px) {
  header {
    overflow: hidden;
    height: 80px;
    border-bottom: 2px solid #cd3333;
  }

  #logo {
    float: left;
    height: 80px;
    margin: 0 0 0 80px;
  }

  #logo img {
    object-fit: contain;
    height: 100%;
    width: auto;
  }

  #nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    height: 100%;
  }

  #nav_list li {
    display: inline-block;
    height: 100%;
    border-left: 2px solid #cd3333;
  }

  #nav_list li a:hover {
    font-weight: bold;
  }

  #nav_list li a {
    text-decoration: none;
    padding: 10px 20px;
    line-height: 60px;
    color: #784a37;
    display: block;
    height: 100%;
    box-sizing: border-box;
  }
}

/* Bruger menu */
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 35px;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 850px) {
  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }

  .menu a:hover {
    color: #CD3333;
  }

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #FBF5DD;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  header {
    border-bottom: 2px solid #cd3333;
  }

  #logo {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo img {
    object-fit: contain;
    height: 70px;
    width: auto;
  }
}

@media (max-width: 390px) {
  #logo {
    justify-content: start;
  }
}

/* Footer styling*/
footer {
  background-color: #2a53c8;
  color: #eee8ce;
  line-height: 2em;
  padding: 70px;
}

footer ul {
  list-style: none;
}

footer li:before {
  content: "►";
  display: block;
  float: left;
  width: 2em;
}

footer section {
  padding: 0;
}

/* Buttons*/
.primary-btn {
  background-color: #657632;
  border: 1.8px solid #657632;
  color: #fbf5dd;
  font-size: 1.1em;
  padding: 24px 98px;
  cursor: pointer;
  font-family: interb;
}

.primary-btn_1 {
  background-color: #657632;
  border: 1.8px solid #657632;
  color: #fbf5dd;
  font-size: medium;
  padding: 15px 20px;
  cursor: pointer;
  margin-top: 48px;
  margin-bottom: -156px;
  font-family: interb;
}

.primary-btn_1:hover {
  background-color: #fbf5dd;
  color: #657632;
}

.primary-btn:hover {
  background-color: #fbf5dd;
  color: #657632;
}

.secondary-btn {
  background-color: #fbf5dd;
  border: 3px solid #657632;
  color: #657632;
  font-size: medium;
  padding: 15px 20px;
  cursor: pointer;
}

.secondary-btn:hover,
.secondary-btn.active {
  background-color: #657632;
  color: #fbf5dd;
}

.alternitive-btn {
  background-color: #fff0;
  border: 3px solid #eee8ce;
  color: #eee8ce;
  font-size: medium;
  padding: 15px 20px;
  cursor: pointer;
}

.alternitive-btn:hover {
  border-color: #657632;
  color: #657632;
}

.alternative-btn {
  background-color: #fff0;
  border: 1.8px solid #eee8ce;
  color: #eee8ce;
  font-size: 1.4rem;
  padding: 18px 100px;
  cursor: pointer;
  display: inline-block;
  width: 380px;
  font-family: interb;
}

.alternative-btn:hover {
  border-color: #657632;
  color: #657632;
}