@font-face {
    font-family: inter;
    src: url(/fonts/inter-variablefont_slntwght-webfont.woff2);
}

body {
    font-family: inter;
}

footer {
    background-color: #2A53C8;
    color: #EEE8CE;
    line-height: 2em;
    padding: 70px;
}