section {
  padding: 20px 10%;
  border-bottom: solid 2px #cd3333;
}

section:last-of-type {
  border: none;
}

@media screen and (max-width: 600px) {
  section {
    padding: 20px 5%;
  }
}

.grid_1-1_ {
  border-bottom: none;
}



.thai {
  text-align: center;
  line-height: 1.2em;
}

#nav_list li a {
  color: #eee8ce;
}

nav.active #nav_list li a:hover {
  color: #cd3333;
}

nav.active .menu {
  background: #282121;
}

.burger .line {
  background-color: #eee8ce;
}

img {
  max-width: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-image {
  background-color: #282121;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: -1;
  top: -83px;
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #eee8ce;
}

.hero-text h1 {
  font-size: 8em;
  margin: 0;
  font-family: interb;
}

.hero-image2 {
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  width: 100%;
}

.hero-text2 {
  text-align: left;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #eee8ce;
  font-size: 8em;
  margin-top: 180px;
}

.hero-text2 h1 {
  text-align: left;
  font-size: 0.8em;
  margin-top: 270px;
  margin-left: 180px;
}

.imgs {
  width: 60%;
  left: 30%;
}

section.grid_1-1>div:nth-child(2) {
  display: flex;
}

.quote {
  width: 60%;
  display: flex;
  align-self: center;
}

.rolls {
  width: 80%;
}

h1 {
  font-size: xxx-large;
  font-family: interb;
}

@media screen and (min-width: 660px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1-1_ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}


.right_side {
  margin-left: 00px;
  margin-top: 0px;
}

.book_btn {
  margin-left: 760px;
  font-style: bold;
  margin-top: 200px;
  z-index: 2;
}


.restaurant_btn {
  margin-left: 760px;
  margin-top: 24px;
}

.hero-overskrift {
  font-size: 3em;
}