button {
    background-color: #657632;
    border-color: #657632;
    border-width: 3px;
    color: #e7ebdb;
    font-size: medium;
    padding: 20px;
}

button:hover {
    color: #657632;
    background-color: #f3edd7;
}