/* Layout */
.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

@media screen and (min-width: 660px) {
    .grid_1-1-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 1em;
    }
}

/* Styling */

button {
    background-color: #FBF5DD;
    border-color: #657632;
    border-width: 3px;
}

button:hover {
    background-color: #657632;
}