@media screen and (min-width: 660px) {
    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.hero-image {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #EEE8CE;
}

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 60px;
}

h1 {
    font-size: xxx-large;
    font-style: bold;
}

h5 {
    color: #7F503D;
    font-size: medium;
}

.kitchen {
    width: 60%;
    left: 30%;
}