section {
  padding: 20px 120px;
}

section:first-of-type {
  padding-top: 70px;
  border-bottom: solid 2px red;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .grid_1-1 {
    grid-template-columns: 1fr;
  }
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px 20px;
}

@media screen and (max-width: 800px) {
  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 660px) {
  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr;
  }
}

#btn_container {
  max-width: 800px;
}

#btn_container button {
  padding: 15px 2px;
}

#pay_container_btn {
  margin: 80px 0;
}
#pay_container_btn button{
  width: 350px;
}

/* Takeaway page styling */

.product_container {
  background: #fffce6;
  border: solid 2px #d5cfb4;
  color: #cd3333;
  padding: 20px;
  margin: 10px;
}

.product_title {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}

.product_des {
  font-size: 14px;
  margin-bottom: 10px;
  height: 20px;
}

.product_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.product_img {
  max-width: 100%;
  max-height: 100%;
}

.product_prize {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.primary-btn {
  margin: 10px 0;
  width: 100%;
}
