
section {
  padding: 20px 10%;
  border-bottom: solid 2px #CD3333;
}
section:last-of-type {
  padding: 20px 10%;
  border: none;
}
@media screen and (max-width: 600px) {
  section {
    padding: 20px 5%;
  }
  section:last-of-type {
    padding: 20px 5%;
  }
}
section:first-of-type {
  padding-top: 70px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 900px) {
  .grid_1-1 {
    grid-template-columns: 1fr;
  }
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px 20px;
}

@media screen and (max-width: 800px) {
  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 660px) {
  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr;
  }
}

#btn_container {
  max-width: 800px;
}

#btn_container button {
  padding: 15px 2px;
}

#pay_container_btn {
  margin: 80px 0;
}
#pay_container_btn button {
  width: 350px;
}

/* Takeaway page styling */

.product_container {
  background: #fffce6;
  border: solid 2px #d5cfb4;
  color: #cd3333;
  padding: 20px;
  margin: 10px;
}

.product_title {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}

.product_des {
  font-size: 14px;
  margin-bottom: 10px;
  height: 20px;
}

.product_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.product_img {
  max-width: 100%;
  max-height: 100%;
}

.product_prize {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.primary-btn {
  margin: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 15px;
}

/* Checkout page styling */

#takeaway_overview {
  display: flex;
}

#order_title{
  font-size: 30px;
  margin: 10px 3px;
  font-weight: normal;
}
@media screen and (max-width: 500px) {
  .order_overview{
    display: none;
  }
}

.product_overview {
  width: 75%;
}
@media screen and (max-width: 500px) {
  .product_overview {
    width: 100%;
  }
}

.order_overview {
  width: 25%;
  border: solid 2px #784a37;
  margin: 71px 10px 10px 10px;
  padding: 20px;
  position: sticky;
  top: 20px; /* Adjust this value as needed */
  right: 0;
  align-self: flex-start; 
}

#order_list{
  margin: 0 5px;
  height: 100%;
}

.order_item{
  display: flex;
  width: 100%;
  margin: 10px 0;
}

.order_item p {
  margin: 0 2px;
}

.order_item p:last-child {
  margin-left: auto;
}

.order_prize{
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.order_prize p{
  margin: 0 2px;
}

.order_prize p:last-child{
  margin-left: auto;
}

div.order_item:nth-child(5) {
  margin-bottom: 100px;
}

div.order_prize:nth-child(8) {
  opacity: 80%;
}

div.order_prize:nth-child(7) {
  font-size: 20px;
}

button.primary-btn:nth-child(9) {
  margin: 20px 0px;
}

